@model List<Product>

<h1>Shop</h1>
<p>Count: @Model.Count()</p>
@foreach (var p in Model)
{
    <div class="col-md-3">
        <div class="well well-sm">
            <img src="~/img/@(p.Category).jpg" class="img-responsive" alt="@p.Title" style="width: 250px; height: 200px;" />
            <h3>@p.Category</h3>
            <ul class="product-props">
                <li>Price: @p.Price</li>
                <li>Title: @p.Title</li>
                <li>Description: @p.Description</li>
            </ul>
            <button id="buyButton">Buy</button>
        </div>
    </div>
}